# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps

import os

# Import API key
from api_keys import g_key

print(g_key)

AIzaSyBouACdNmQU92y80_ugdnvC5_mRL3df8Cs

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_csv = "cities.csv"
vacation_df = pd.read_csv(weather_csv)
vacation_df.head()

,Unnamed: 0,City,Country,Latitude,Longitude,Date,Temperature,Wind_Speed,Cloud_cover,Humidity
0,0,Atherton,GB,53.52,-2.49,1597557972,61.00,1.99,100,86
1,1,Hermanus,ZA,-34.42,19.23,1597557567,46.99,1.01,69,84
2,2,Glenwood Springs,US,39.55,-107.32,1597557893,69.80,6.93,1,20
3,3,Linqiong,CN,30.42,103.46,1597557975,73.00,11.18,40,100
4,4,Chokurdakh,RU,70.63,147.92,1597557908,41.40,11.95,96,82

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#configure gmaps with API key
gmaps.configure(api_key = g_key)

#lat and Long as locations and Humidity as the weight
locations = vacation_df[["Latitude", "Longitude"]]
weight = vacation_df["Humidity"]

# Create a Heatmap layer
fig = gmaps.figure()

# [(lat, long), (lat, long), ]
## but gmaps is smart and can handle pandas data
layer = gmaps.heatmap_layer(locations, weights=weight)

fig.add_layer(layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
##ideal variables
ideal_temp_df = vacation_df[vacation_df.Temperature < 80]
ideal_wind_df = ideal_temp_df[ideal_temp_df.Wind_Speed < 10]
ideal_cloud_df = ideal_wind_df[ideal_wind_df.Cloud_cover < 50]
just_right_temp_df = ideal_cloud_df[ideal_cloud_df.Temperature > 65]
ideal_no_humidity_df = just_right_temp_df[just_right_temp_df.Humidity < 40]
ideal_no_humidity_df

,Unnamed: 0,City,Country,Latitude,Longitude,Date,Temperature,Wind_Speed,Cloud_cover,Humidity
2,2,Glenwood Springs,US,39.55,-107.32,1597557893,69.80,6.93,1,20
17,17,Saskylakh,RU,71.92,114.08,1597557599,66.54,7.31,29,35
63,63,San Mat√≠as,BO,-16.37,-58.40,1597557933,77.85,3.60,21,35
233,233,Billings Metropolitan Area,US,45.78,-108.50,1597558272,69.80,4.70,1,32
333,333,Kurchum,KZ,48.57,83.65,1597558402,75.97,9.73,0,37
339,339,Turaif,SA,31.67,38.66,1597558209,78.80,6.93,0,36
363,363,Malatya Province,TR,38.50,38.00,1597558263,73.40,4.70,0,31
366,366,Miandrivazo,MG,-19.52,45.47,1597557903,79.88,3.38,0,30
457,457,Cedar City,US,37.68,-113.06,1597558563,69.80,5.82,1,22
476,476,Nortel√¢ndia,BR,-14.45,-56.80,1597558588,74.37,3.98,37,37

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
##hotel listings
hotel_df = ideal_no_humidity_df


# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through 
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Latitude"]
    lng = row["Longitude"]
    params["location"] = f"{lat},{lng}"
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

C:\Users\victo\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\victo\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [6]:
##dropping the NA
hotel_df = hotel_df.dropna()

hotel_df

,Unnamed: 0,City,Country,Latitude,Longitude,Date,Temperature,Wind_Speed,Cloud_cover,Humidity,Hotel Name
2,2,Glenwood Springs,US,39.55,-107.32,1597557893,69.80,6.93,1,20,Glenwood Springs Cedar Lodge
63,63,San Mat√≠as,BO,-16.37,-58.40,1597557933,77.85,3.60,21,35,"HOTEL ""SAN JOSE"""
233,233,Billings Metropolitan Area,US,45.78,-108.50,1597558272,69.80,4.70,1,32,Best Western Plus Clocktower Inn
339,339,Turaif,SA,31.67,38.66,1597558209,78.80,6.93,0,36,Swiss Spirit Hotel & Suites Turaif
366,366,Miandrivazo,MG,-19.52,45.47,1597557903,79.88,3.38,0,30,H√¥tel Arc En Ciel Miandrivazo
457,457,Cedar City,US,37.68,-113.06,1597558563,69.80,5.82,1,22,Hampton Inn Cedar City
476,476,Nortel√¢ndia,BR,-14.45,-56.80,1597558588,74.37,3.98,37,37,Hotel Karysm√£

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

locations

     Latitude  Longitude
2       39.55    -107.32
63     -16.37     -58.40
233     45.78    -108.50
339     31.67      38.66
366    -19.52      45.47
457     37.68    -113.06
476    -14.45     -56.80

In [9]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Display figure
fig = gmaps.figure()
fig.add_layer(marker_layer)
fig.add_layer(layer)

fig = gmaps.figure()

fig

Figure(layout=FigureLayout(height='420px'))